language: php

php:
  - 7.1
  - 7.0
  - 5.6

before_script:
  - composer self-update
  - composer install --prefer-dist

script:
  - vendor/bin/phpcs --colors -p --standard=vendor/cakephp/cakephp-codesniffer/CakePHP ./src ./tests
